<!-- 
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="http://www.gravatar.com/avatar/{{site.author.email_md5}}?s=150" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header> -->

{% if site.author.bio %}
<div id="bio" class="text-center">
	{{ site.author.bio }}
</div>
{% endif %}

<div class='navigator text-center'>
<!-- 	<a href='/index.html' title='首页'>&#xf012b;</a>
	<a href='/rss.xml' title='RSS订阅'>&#xf01bc;</a>
	<a href='/me.html' title='关于我'>&#xf00cc;</a>
	<a href='/series.html' title='系列文章'>&#xf0161;</a> -->
	<a href='/index.html' title='首页'"><i class="fa fa-home fa-lg"></i></a>
	<a href='/rss.xml' title='RSS订阅'><i class="fa fa-rss fa-lg"></i></a>
	<a href='/series.html' title='系列文章'><i class="fa fa-th-list fa-lg"></i></a>
	<a href='/me.html' title='关于我'><i class="fa fa-user fa-lg"></i></a>
</div>

<div class='category'>
	<ul>
		{% for cat in site.categories %}
			<li><a href="{{ site.BASE_PATH }}/category.html#{{ cat[0] }}">{{ cat[0] }}<span>{{ cat[1].size }}</span></a></li>
		{% endfor %}
	</ul>
</div>

<div class='tags'>
	{% for tag in site.tags %}
		<a href="{{ site.BASE_PATH }}/tag.html#{{ tag[0] }}" style='font-size:{{ tag[1].size | times: 2 | plus: 15  }}px;'>{{ tag[0] }}</a>
	{% endfor %}
</div>

<!-- Place this tag where you want the button to render. -->
<div align="center">
	<a class="github-button" href="https://github.com/bughoho" data-style="mega" aria-label="Follow @bughoho on GitHub">Follow @bughoho</a>
</div>
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<br>
<br>
<div class='foot text-center'>
	<p>友情链接</p>
	<p><a href='http://bbs.pediy.com/'>看雪论坛</a><br>
	<p><a href='http://cls.pw/'>菜贩子</a><br>
	<p><a href='http://www.jmpoep.com/'>掮客酒馆</a><br>
</div>